
.logo {
    width: 227px;
    height: 44px;
}

.login {
    width: 200px;
    height: 60px;
    background: linear-gradient(to right, #72DAB0, #6C77A1);
    outline: none;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 20px;
}

.navbar {
    display: flex;
    padding: 28px 140px;
    width: 1920px;
    box-sizing: border-box;
}

.nft {
    color: white;
    font-size: 20px;
    flex-grow: 1;
    text-align: right;
    padding: 16px 80px 0px 0px;
}